:root {
  --light-background-color: rgb(202, 216, 228);
  --dark-background-color: #1d3040;
  --light-text-color: rgba(0, 0, 0, 0.7);
  --dark-text-color: rgba(255, 255, 255, 0.7);
}

body {
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: var(--light-background-color);
  color: var(--light-text-color);
}

body.dark {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}